<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pregnancy helper &mdash;</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<!--===============================================================================================-->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,400italic,700' rel='stylesheet'
        type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="stylesheets/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="stylesheets/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="stylesheets/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="stylesheets/styleRegister.css">

    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script srcc="js/respond.min.js"></script>
	<![endif]-->

</head>
<body>
		<nav class="gtco-nav" role="navigation">
				<div class="gtco-container">
					<div class="row">
						<div class="col-xs-2">
							<div id="gtco-logo"><img src="/images/logoo.png" width="80"><a href="/">Pregnancy helper</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="has-dropdown">
									<a href="/home">Home</a>
	
								</li>
								<li class="has-dropdown">
									<a href="/storyview">Stories</a>
	
								</li>
	
								<li class="has-dropdown">
									<a href="/story">Share stories </a>
	
                                </li>
                                <li><a href="/info">Monthly info</a></li>
								
								
								<li><a href="/profile">Log Out</a></li>
							</ul> <br>
						  
							<!-- <form method='post' action="/searchexchange"> -->
								<!-- <input id="searchbar" type="text" name="name" placeholder="Search books for exchange">
							</form> -->
	
						</div>
					</div>
	
				</div>
			</nav>

	<div class="bg-contact2" style="background-image: url('images/bg-01.jpg');">
		<div class="container-contact2">
			<div class="wrap-contact2">
				<form class="contact2-form validate-form" action="/story" method="POST" enctype="multipart/form-data">
					<span class="contact2-form-title">
						Share your story
					</span>

					<div class="wrap-input2 validate-input" data-validate="Name is required">
						<input class="input2" type="text" name='username'>
						<span class="focus-input2" data-placeholder="NAME"></span>
					</div>

					<div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input2" type="text" name="useremail">
						<span class="focus-input2" data-placeholder="EMAIL"></span>
					</div>

					<div class="wrap-input2 validate-input" data-validate = "Message is required">
						<textarea class="input2" name="description"></textarea>
						<span class="focus-input2" data-placeholder="Share your story"></span>
					</div>
					<div class="form-group">
							<label for="imagename">Select your photo</label>
							<input type="file" class="form-control-file" id="photo" name="file">
						</div>
					

					
							<div class="form-group">
									<input type="submit" value="Share your story"  class="btn btn-primary">
								</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main2.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>

</body>
</html>
