<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<meta name="description" content="pregnancy week to week information provider" />
		<meta name="keywords" content="slideshow, reveal, effect, animation, web design, template, demo" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" type="text/css" href="stylesheets/base.css" />

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->

<!--===============================================================================================-->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,400italic,700' rel='stylesheet'
        type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="stylesheets/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="stylesheets/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="stylesheets/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="stylesheets/styleRegister.css">

    
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	</head>
	<body class="loading">
            <nav class="gtco-nav" role="navigation">
                    <div class="gtco-container">
                        <div class="row">
                            <div class="col-xs-2">
                                <div id="gtco-logo"><img src="/images/logo.png" width="80"><a href="/">Pregnancy helper</a></div>
                            </div>
                            <div class="col-xs-10 text-right menu-1">
                                <ul>
                                    <li class="has-dropdown">
                                        <a href="/home">Home</a>
        
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="/storyview">Stories</a>
        
                                    </li>
        
                                    <li class="has-dropdown">
                                        <a href="/story">Share stories </a>
        
                                    </li>
                                    <li><a href="/info">Monthly info</a></li>
                                    
                                    
                                    <li><a href="/profile">Log Out</a></li>
                                </ul> <br>
                              
                                <!-- <form method='post' action="/searchexchange"> -->
                                    <!-- <input id="searchbar" type="text" name="name" placeholder="Search books for exchange">
                                </form> -->
        
                            </div>
                        </div>
        
                    </div>
                </nav>

		<svg class="hidden">
			<symbol id="icon-arrow" viewBox="0 0 24 24">
				<title>arrow</title>
				<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "/>
			</symbol>
			<symbol id="icon-drop" viewBox="0 0 24 24">
				<title>drop</title>
				<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z"/><path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z"/>
			</symbol>
			
			<symbol id="icon-caret" viewBox="0 0 24 13">
				<title>caret</title>
				<path d="M23.646.328a.842.842 0 0 0-1.19 0l-10.459 10.48L1.517.328a.842.842 0 0 0-1.189 1.19L11.382 12.57c.164.164.369.246.595.246.205 0 .43-.082.594-.246L23.625 1.518a.824.824 0 0 0 .02-1.19z"/>
			</symbol>
		</svg>
		<main>
			<div class="content content--fixed">
				<header class="codrops-header">
					<div class="codrops-links">
						
					</div>
					
				</header>
				<p class="info"><<a href="https://www.instagram.com/p/Bjr-3Gbj_ZE/?taken-by=louis_ansa</a></p>
				<a class="github" href="https://github.com/codrops/MotionRevealSlideshow/" title="Find this project on GitHub"><svg class="icon icon--github"><use xlink:href="#icon-github"></use></svg></a>
			</div>
			<div class="slideshow">
				<div class="slide">
					<div class="preview">
						<div class="preview__img-wrap">
							<div class="preview__img" style="background-image: url(http://www.newkidscenter.com/images/10401482/image001.jpg);"></div>
							<div class="preview__img-reveal"></div>
						</div>
						<h3 class="preview__title">Month 1</h3>
						<div class="preview__content">
							<p>
Make an appointment with your OBGYN to verify that you’re pregnant and to make sure that the pregnancy appears normal.
Start keeping a baby diary! You’re definitely going to have a variety of emotions, and you may want to write some of them down. It will be fun to look back on this later.
Adjust your diet. You’ll need nutrients for two now, so you should eat plenty of fruits and vegetables. Make sure to drink plenty of water, too! 
Quit smoking and drinking alcohol. We know it’s not as fun but it’s definitely best for your baby.
Exercise regularly. You don’t need to do anything strenuous, but make sure you’re getting light exercise at least three times per week. 
Take folic acid supplements. They have been proven to greatly reduce the risk of some birth defects.
Rest! If you’re like most women, you’ll be exhausted in the early stages of your pregnancy, so make sure to get plenty of sleep whenever you need to..</p>
						</div>
					</div>
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(http://www.newkidscenter.com/images/10401482/image001.jpg);"></div>
						<div class="slide__img-reveal"></div>
					</div>
					<span class="slide__number">#01</span>
					<h3 class="slide__title">Month 1</h3>
				</div>
				<div class="slide">
					<div class="preview">
						<div class="preview__img-wrap">
							<div class="preview__img" style="background-image: url(https://assets.babycenter.com/ims/2015/01/pregnancy-week-8-brain-nerve-cells_square.jpg?width=600);"></div>
							<div class="preview__img-reveal"></div>
						</div>
						<h3 class="preview__title">Month 2</h3>
						<div class="preview__content">
							<p>Schedule your prenatal tests. This is a crucial part of your pregnancy checklist! Doctors are busy, so it’s best to make your appointments in advance. Talk to your doctor to find out what prenatal test schedule they recommend. 
Start budgeting for the baby. Having a baby isn’t cheap, so begin planning your finances right away. 
Spend time with your partner! This is important, but it’s something that’s easy to overlook. Make sure you’re getting enough one-on-one time with your partner. Once your baby arrives, it might be hard to find time to be intimate with your loved one. 
Decide where and how you’d like to give birth. You may want to deliver in a hospital with an OBGYN. Or you may want to have your baby in the comfort of your own home with the help of a midwife and doula. We recommend doing some research before deciding which option is right for you.</p>
						</div>
					</div>
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(https://assets.babycenter.com/ims/2015/01/pregnancy-week-8-brain-nerve-cells_square.jpg?width=600);"></div>
						<div class="slide__img-reveal"></div>
					</div>
					<span class="slide__number">#02</span>
					<h3 class="slide__title">Month 2</h3>
				</div>
				<div class="slide">
					<div class="preview">
						<div class="preview__img-wrap">
							<div class="preview__img" style="background-image: url(https://images.parents.mdpcdn.com/sites/parents.com/files/styles/scale_1500_1500/public/images/tzOHZoNDE6RFS_HrttQeUemSPtWP-jKq.jpg);"></div>
							<div class="preview__img-reveal"></div>
						</div>
						<h3 class="preview__title">Month 3</h3>
						<div class="preview__content">
							<p>Decide whether or not you’d like to learn the sex of the baby. Some couples like to know, while others want to wait until the baby is born to find out. Talk with your partner and decide what’s best for you.
Research the maternity leave policy at your workplace. You might not be using this for some time, but ticking it off the to-do list early gives you one less thing to worry about.
Make an appointment with a dentist. Pregnant women are more susceptible to inflamed gums and gingivitis, so it’s important to get a cleaning and checkup with your dentist. 
Look into childbirth classes, such as the Lamaze Technique, The Bradley Method, and HypnoBirthing, to name a few. These classes can help a great deal when you go into labor. But schedule them early, as they tend to fill up quickly. </p>
						</div>
					</div>
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(https://images.parents.mdpcdn.com/sites/parents.com/files/styles/scale_1500_1500/public/images/tzOHZoNDE6RFS_HrttQeUemSPtWP-jKq.jpg);"></div>
						<div class="slide__img-reveal"></div>
					</div>
					<span class="slide__number">#03</span>
					<h3 class="slide__title">Month 3</h3>
				</div>
				<div class="slide">
					<div class="preview">
						<div class="preview__img-wrap">
							<div class="preview__img" style="background-image: url(http://stylesatlife.com/wp-content/uploads/2014/08/Fetus-month-3.jpg);"></div>
							<div class="preview__img-reveal"></div>
						</div>
						<h3 class="preview__title">Month 4</h3>
						<div class="preview__content">
							<p>Announce the good news! Your friends and family will be overjoyed to know that you have a baby on the way. Now is also a good time to let your colleagues and managers know that you’re pregnant. 
Start shopping for maternity clothes. After the fourth month, your bump will start to grow considerably, so make sure you’ve got all the right attire. 
Stock up on the skincare products you need! Try Mustela Soothing Moisturizing Balm, specially formulated to relieve itching sensations caused by pregnancy. And use our Stretch Marks Prevention Cream or Oil to ensure smooth, glamorous skin before and after giving birth. 
Go on your babymoon! A babymoon is a pre-baby vacation for you and your partner. It’s a great way to spend time together before the later stages of your pregnancy make travel difficult.
Continue taking care of your body. This includes eating healthy, drinking water, and exercising regularly. </p>
						</div>
					</div>
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(http://stylesatlife.com/wp-content/uploads/2014/08/Fetus-month-3.jpg);"></div>
						<div class="slide__img-reveal"></div>
					</div>
					<span class="slide__number">#04</span>
					<h3 class="slide__title">Month 4</h3>
				</div>
				<div class="slide">
					<div class="preview">
						<div class="preview__img-wrap">
							<div class="preview__img" style="background-image: url(https://scontent.fktm3-1.fna.fbcdn.net/v/t1.15752-0/p280x280/78990023_578226679604939_5867629851296399360_n.jpg?_nc_cat=101&_nc_ohc=HtdfaLayS4gAQkKuAI1nDyF_CmwNQRRkjAsB87z5Jvl-oWPn9BjyqVrmA&_nc_ht=scontent.fktm3-1.fna&oh=7977ee639aa4d263768d950da096c0d7&oe=5E42A5B2);"></div>
							<div class="preview__img-reveal"></div>
						</div>
						<h3 class="preview__title">Month 5</h3>
						<div class="preview__content">
							<p>Decide where your baby will sleep. Perhaps you’d like to have your newborn sleep in your room, or maybe you’d like to set up a nursery. Either way, you can start preparing now.
Have your anomaly scan and ultrasound exam performed. These are important prenatal tests, as they ensure the health of your unborn baby. 
Keep meeting with the person who will be delivering your baby. Developing this relationship will help you feel more comfortable in the delivery room..</p>
						</div>
					</div>
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(https://scontent.fktm3-1.fna.fbcdn.net/v/t1.15752-0/p280x280/78990023_578226679604939_5867629851296399360_n.jpg?_nc_cat=101&_nc_ohc=HtdfaLayS4gAQkKuAI1nDyF_CmwNQRRkjAsB87z5Jvl-oWPn9BjyqVrmA&_nc_ht=scontent.fktm3-1.fna&oh=7977ee639aa4d263768d950da096c0d7&oe=5E42A5B2);"></div>
						<div class="slide__img-reveal"></div>
					</div>
					<span class="slide__number">#05</span>
					<h3 class="slide__title">Month 5</h3>
				</div>
				<nav class="slidenav">
					<button class="slidenav__item slidenav__item--prev">Previous</button>
					<button class="slidenav__item slidenav__item--next">Next</button>
					<button class="slidenav__preview">
						<svg class="icon icon--caret">
							<use xlink:href="#icon-caret"></use>
						</svg>
					</button>
				</nav>
			</div>
		</main>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/TweenMax.min.js"></script>
		<script src="js/demo.js"></script>
	</body>
</html>